* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h3 {
  margin: 10px 0;
}

section {
  margin: 0 auto;
  width: 800px;
}

.vertical-strip {
  height: 200px;
  width: 200px;
}

.vertical-strip:nth-child(1) {
  background-color: yellow;
}

.vertical-strip:nth-child(2) {
  background-color: blue;
}

.vertical-strip:nth-child(3) {
  background-color: red;
}

#point-2 {
  border: 1px solid gray;
  overflow: auto;
}

#point-2 .vertical-strip {
  float: right;
}
